spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/InterwayInterview
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8080