# ===== OS =====
.DS_Store
Thumbs.db

# ===== IntelliJ / IDE =====
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/

# ===== Java / Maven =====
**/target/
*.log

# ===== Node / Angular =====
**/node_modules/
**/dist/
**/.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Env / Secrets =====
.env
**/application-local.properties
