.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255,255,255,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.b-r-10 {
  border-radius: 10px;
}

.ag-filter-wrapper {
  background: #404547;
}

.border-silver {
  border-color: #ffffff14 !important;
}

.ag-popup-child {
  background: #404547 !important;
}

.modal-content {
  border-color: #ffffff14;
}

.modal-close {
  color: white;
}

.form-select {
  background-color: #ffffff14;
  color: white;
  border-color: #ffffff14;
}

.form-control, .form-control:focus {
  background-color: #ffffff14;
  color: white;
  border-color: #ffffff14;
}

.form-control::placeholder, form-select::placeholder {
  color: #ffffff80 !important;
}

.form-label {
  color: #ffffff;
}

.modal-header {
  color: #ffffff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

c-pointer {
  cursor: pointer !important;
}

input[type="file"]::file-selector-button {
  display: none;
}

input[type="file"]:hover {
  background-color: #1f2937 !important;
}
